*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

.btn-reset {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.btn {
    padding: 10px 20px;
    color: #333;
    background-color: #9c9c9c;
    border-radius: 20px;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #414040;
    transition: background-color 0.2s linear;
}

.films-list {
    --gap: 20px;
    --item-line-count: 3;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--gap);
}

.films-item {
    padding: 10px;
    width: calc((100% - var(--gap) * (var(--item-line-count) - 1)) / var(--item-line-count));
    border: 3px solid #9b7979;
    border-radius: 15px;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
    transition: all 100ms linear;
}

.films-item:hover {
    background-color: #9b7979;
    transition: all 100ms linear;
}

.item__film__header {
    font-size: 20px;
    font-weight: 700;
}

/* film page */

.film {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #9b7979;
    border-radius: 8px;
}

.film__header {
    font-size: 40px;
    font-weight: 700;
}

.film__descr {
    padding: 15px;
    margin: 0;
    color: aliceblue;
    font-weight: 500;
    background-color: #333;
    border-radius: 15px;
}

.film__extras {
    display: flex;
    justify-content: space-around;
}

.extras__header {
    font-size: 25px;
}

.extras__list {
    margin: 0;
    padding: 0;
    list-style: none;
}